#version=RHEL8
# Kickstart for rhel8-host (RHEL 8 Managed Host)
text
cdrom
keyboard --xlayouts='us'
lang en_US.UTF-8

network --bootproto=dhcp --device=link --activate --onboot=yes
network --hostname=rhel8-host

rootpw --plaintext testpassword
user --name=admin --password=testpassword --plaintext --groups=wheel

timezone America/New_York --utc
bootloader --location=mbr
zerombr
clearpart --all --initlabel --disklabel=gpt

part /boot/efi --fstype="efi" --size=600
part /boot --fstype="xfs" --size=1024
part pv.01 --fstype="lvmpv" --size=1 --grow

volgroup vg_root pv.01
logvol / --fstype="xfs" --size=20000 --name=lv_root --vgname=vg_root
logvol /var --fstype="xfs" --size=10000 --name=lv_var --vgname=vg_root
logvol swap --fstype="swap" --size=4096 --name=lv_swap --vgname=vg_root

skipx
services --enabled="chronyd,sshd"
firewall --enabled --service=ssh
selinux --enforcing
reboot --eject

%packages
@^minimal-environment
chrony
openssh-server
vim-enhanced
python3
rsyslog
%end

%post --log=/root/ks-post.log
hostnamectl set-hostname rhel8-host
sed -i 's/^#*PasswordAuthentication.*/PasswordAuthentication yes/' /etc/ssh/sshd_config
echo '%wheel ALL=(ALL) NOPASSWD: ALL' > /etc/sudoers.d/wheel-nopasswd
echo "rhel8-host" > /etc/airgap-role
%end
